  <div id="home">
    <h1>Welcome to the Event Checker!</h1>
    <p>For a lot of people, finding information on different sporting events or concerts can be a huge pain.</p>
    <p>That's why I designed this website which uses the SeatGeek API in order to find events related to keywords a user inputs.</p>
    <p>Search below and try it out! Happy researching :)</p>
  </div>
  <br>
  <form action="/results">
    <div id="search">
      <label for="searched-item"><p>Type in the event you'd like to search for:</p></label>
      <p><input id="searched-item" type="text" placeholder="e.g Chicago Bulls..." name="item"></p>
      <button><p>Click here</p></button>
    </div>
  </form>
